<section class="hero is-fullheight has-text-centered has-background-white" id="about">
    <div class="hero-body" style="display: block;">
        <div class="container">
            <div class="columns" style="padding-top: 5vh;">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="" style="height: 22vh; width: 55vh; padding-right: 70px;">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div style="width: 25vh;"></div>
                <div
                    class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>We are a research group led by Dr <a href="https://tvluong.wordpress.com/"
                            style="margin: 0;">Thien Van Luong</a>,
                        based at Faculty of Computer
                        Science, Phenikaa University. Our vision is to do cutting-edge research on applications of
                        Artificial Intelligence and Internet of Things (AIoT) in different
                        real-world domains, which are listed below:
                    </p>
                    <br>
                    <p>
                        <li>AIoT for Smart Cities, Smart Building and Smart Transportation </li>
                        <li>AIoT for Smart Healthcare and Medical </li>
                        <li>AIoT for Smart Factory, Machine Health Monitoring</li>
                        <li>AIoT for Disaster Management, Environment Protection and Climate Change</li>
                        <li>AI for Next Generation Wireless and IoT Security</li>
                    </p>
                    <br>
                    <p>
                        For more information about our work, see at our <a href="{{site.url}}{{site.baseurl}}/project"
                            style="margin: 0;">projects</a>.
                    </p>
                    <br>

                </div>
            </div>
            <section class="hero is-fullheight" id="blog">

                <div id="results-container"></div>
                <!--Blog Cards Section-->
                {% for award in site.data.contenthome %}
                {% include award-card.html %}
                {% endfor %}
        </div>
</section>
</div>

</div>
</section>