<section class="hero is-halfheight has-text-centered" style="min-height: 40vh;" id="hero">
  <div class="hero-body">
    <div class="container" style="padding-top: 7vh;">
      <h1 class="title has-text-white is-size-1 has-text-weight-bold">
        {{site.title}}
      </h1>
      <h3 class="subtitle has-text-white-bis is-uppercase has-text-weight-medium is-marginless">
        {{site.description}}
      </h3>
      <hr>
      <a href="{{site.url}}{{site.baseurl}}/openning"
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal"
        style="font-size: 2vh;">Apply</a>
      </a>
    </div>
  </div>
</section>