<!DOCTYPE html>
{% if page.menubar or page.menubar_toc %}
{% assign has_left_sidebar = true %}
{% endif %}

{% if page.show_sidebar and has_left_sidebar  %}
{% assign content_width = 'is-4' %}
{% elsif page.show_sidebar or has_left_sidebar %}
{% assign content_width = 'is-8' %}
{% else %}
{% assign content_width = 'is-12' %}
{% endif %}

<html>
  {% include head.html %}
  <body>
    {% include navbar.html %}
    <section class="hero is-fullheight has-text-centered">
        <br \>
        <br \>
        <div class="hero-body">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column {{ content_width }}">
                    {% include gallery.html %}
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
    </section>
    {% include footer.html %}
  </body>
</html>
